# ==========================================
# 1. Archivos Compilados de Java
# ==========================================
*.log
*.ctxt
*.war
*.nar
*.ear
*.tar.gz
*.rar

# ==========================================
# 2. Maven (La fábrica de compilación)
# ==========================================
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# ==========================================
# 3. Entornos de Desarrollo (IDEs)
# ==========================================
# Visual Studio Code
.vscode/

# ==========================================
# 4. Archivos Temporales del Sistema Operativo
# ==========================================
# Windows
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/

# macOS / Linux
.DS_Store
.AppleDouble
.LSOverride
._*
.Trash-*